<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>com.dogtvplus.documentation</string>
  <key>CFBundleName</key>
  <string>DogTV+ Documentation</string>
  <key>CFBundlePackageType</key>
  <string>DOCC</string>
  <key>DCOrganizationName</key>
  <string>DogTV Corp</string>
  <key>DCProjectName</key>
  <string>DogTV+</string>
  <key>DCMinimumXcodeVersion</key>
  <string>14.0</string>
</dict>
</plist> 